    <footer class="container my-5 pb-5">
        <hr class="mb-5">
        <p class="float-start"><a href="#"><i class="fa fa-arrow-circle-up" aria-hidden="true" style="font-size:2.5rem"></i></a></p>
        <p class="float-end"><span>المستشفى العسكري بدمياط الجديدة &copy; 2022 &middot; جميع الحقوق محفوظة &middot; </span><a href="{% url 'admin:index' %}" target="_blank">لوحة التحكم</a></p>
        <div class="d-block" style="clear: both;">
            &middot; تصميم وبرمجة: <a href="https://www.linkedin.com/in/abdolla25/" target="_blank">م. عبدالله زهران</a> &middot; بواسطة فرع النظم &middot; 
        </div>
    </footer>