{% extends 'home/home.html' %}

{% load static %}

{% block content %}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">{{ pages_list.title }}</h1>
    <div class="col-lg-6 mx-auto">
        {% autoescape off %}<div class="lead mb-4">{{ pages_list.content }}</div>{% endautoescape %}
        {% autoescape off %}<div class="lead mb-4">{{ pages_list.pure_html }}</div>{% endautoescape %}
    </div>
    <div class="overflow-hidden" style="max-height: 30vh;">
        <div class="container px-5">
            <img src="{{ pages_list.img_src.url }}" class="img-fluid rounded-3 mb-4" alt="Example image" loading="lazy" style="max-height:260px;">
        </div>
    </div>
</div>
<div class="d-grid gap-2 d-flex justify-content-center mb-5">
    <a href="{% url 'home:home' %}">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">عودة للصفحة الرئيسية</button>
    </a>
</div>
{% endblock content %}