/* ==================================================================================================== */
/*      Home Style                                                                                      */
/* ==================================================================================================== */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap');
body {font-family: 'Cairo', sans-serif;/*padding-top: 8.5rem*/}
span{text-align: right}
a {color:#223369!important;text-decoration: none}
a:hover, a:active {color:#e51f25!important;text-decoration: none}
.btn-primary {color:#fff!important;background-color: #223369!important;border-color: #223369!important}
.btn-primary:hover, .btn-primary:focus , .btn-primary:active {color:#fff!important;background-color: #e51f25!important;border-color: #e51f25!important}
.btn-outline-primary {color: #223369!important;border-color: #223369!important}
.btn-outline-primary:hover {color:#fff!important;background-color: #e51f25!important;border-color: #e51f25!important}
h5{font-size: 1.75rem;}

/* ==================================================================================================== */
/*      Navbar Style                                                                                    */
/* ==================================================================================================== */

.dropdown-item {text-align: right}
.dropdown-item:active {background-color: #2233693a}
@media (min-width: 992px) {.navbar-expand-lg .navbar-collapse {justify-content: space-between;}}
.navbar-brand img {max-height: 60px}
.nav-item a span {margin-left: 0.5rem;}

/* ==================================================================================================== */
/*      Carousel Style                                                                                  */
/* ==================================================================================================== */

.carousel-control-prev {right:0;left:unset;transform: rotateZ(180deg)}
.carousel-control-next {left:0;right:unset;transform: rotateZ(180deg)}
.carousel-indicators {padding-right: 0}
.carousel {margin-bottom: 4rem;}
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}
.carousel-item {height: 32rem;}
.carousel-item > img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    height: 32rem;
}
.blur-img {
    -webkit-filter: blur(5px) brightness(50%);
    filter: blur(5px) brightness(50%);
}  

/* ==================================================================================================== */
/*      Marketing Style                                                                                 */
/* ==================================================================================================== */

.main-icon{text-align: center;}
.main-icon i {font-size: 8rem;color: #223369;}
.main-icon h3 {font-weight: 400;}

/* ==================================================================================================== */
/*      Featurette Style                                                                                */
/* ==================================================================================================== */

.featurette div {
    align-items: center;
}

span.text_muted {
    color: #686868;
    font-size: 1.5rem;
}
.featurette h3 {
    font-weight: 400;
    font-size: 2.5rem;
}
.featurette p {
    font-size: 1.25rem;
    font-weight: 300;
}

/* ==================================================================================================== */
/*      Contact Style                                                                                   */
/* ==================================================================================================== */

.contact h2 {font-weight: 600; font-size: 3rem;}

.contact label {font-size: 1.25rem;}

.form-floating > label {
    left: auto;
    right: 1.4rem;
    top: -0.2rem;
}

.form-floating > .form-control, .form-floating > .form-select {height: auto;line-height: normal;}

.form-control-lg{min-height: calc(3.5em + 1rem + 2px);}

textarea.form-control-lg{min-height: calc(7em + 1rem + 2px);}

.form-floating>.form-control:focus, .form-floating>.form-control:not(:placeholder-shown){padding-top: 1.75rem;}
