{% extends "layouts/base-invoice.html" %}

{% block title %} تصديق فاتورة {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	{% comment %} [ Main Content ] start {% endcomment %}
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			{% comment %} [ breadcrumb ] start {% endcomment %}
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">تصديق فاتورة</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/invoice"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">تصديق فاتورة</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% comment %} [ breadcrumb ] end {% endcomment %}
			{% comment %} [ Main Content ] start {% endcomment %}
			<div class="row">
				{% comment %} [ sample-page ] start {% endcomment %}
				<div class="col-sm-12">				
					<div class="card">
						<div class="card-header">
							<h5>معلومات الفاتورة</h5>
						</div>
						<div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
									<caption>تم إدخال وإرسال الفاتورة من قبل: {{ invoice.entryPerson }}</caption>
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>الجهة المصدرة</th>
                                            <th>رقم الفاتورة</th>
                                            <th>تاريخ الفاتورة</th>
                                            <th>تصنيف الفاتورة</th>
                                            <th>موجهة للقسم</th>
                                            {% if perms.invoice.it %}
                                            <th>حالة الفاتورة</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>{{ invoice.id }}</td>
                                            <td>{{ invoice.company }}</td>
                                            <td>{{ invoice.number }}</td>
                                            <td>{{ invoice.purchase_date }}</td>
                                            <td>{{ invoice.category }}</td>
                                            <td>{{ invoice.department }}</td>
                                            {% if perms.invoice.it %}
                                            <td>{{ invoice.current_state }}</td>
                                            {% endif %}
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
					{% if invoice.number %}
				<div id="details" class="card">
					<div class="card-header">
						<h5>تفاصيل الفاتورة</h5>
					</div>
					<div class="card-body">
						{% if items|length > 0 %}
						<div class="table-responsive">
							<table class="table table-hover text-center">
								<thead>
									<tr>
										<th>#</th>
										<th>الصنف</th>
										<th>الوصف</th>
										<th>الكمية</th>
										<th>سعر الوحدة</th>
										<th>السعر الإجمالي</th>
									</tr>
								</thead>
								<tbody>
									{% for item in items %}
									<tr>
										<td>
											{{ forloop.counter }}
										</td>
										<td>
											{{ item.name }}
										</td>
										<td>
											{{ item.description }}
										</td>
										<td>
											{{ item.quantity }}
										</td>
										<td>
											{{ item.price }}
										</td>
										<td>
											{{ item.total_price }}
										</td>
									</tr>
									{% endfor %}
								</tbody>
								<tfoot>
									<tr>
										<th colspan="3">عدد الأصناف</th>
										<th colspan="4">{{ items_count }}</th>
									</tr>
									<tr>
										<th colspan="3">إجمالي سعر الأصناف</th>
										<th colspan="4">{{ items_total }}</th>
									</tr>
									<tr>
										<th colspan="3">ضريبة القيمة المضافة (14%)</th>
										<th colspan="4">{{ items_tax }}</th>
									</tr>
									<tr>
										<th colspan="3">إجمالي الفاتورة</th>
										<th colspan="4">{{ items_inv }}</th>
									</tr>
								</tfoot>
							</table>
						</div>
						{% endif %}
					</div>
				</div>
				{% endif %}
			<div class="row">
				<div class="col-md-10 mx-auto">
					<form action="#" method="post">
						{% csrf_token %}
						<div class="card">
							<div class="card-header">
								<h5>حالة الفاتورة</h5>
							</div>
							<div class="card-body">
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">
											قرار
											{% if perms.invoice.security %}قسم الأمن{% endif %}
											{% if perms.invoice.finance %}قسم الماليات{% endif %}
											{% if perms.invoice.director %}قائد المستشفى{% endif %}
										</span>
									</div>
									<select name="decision" class="form-control" required>
										<option style="color: red;" value="1">رفض الفاتورة وعودة إلى المشتريات</option>
										{% if perms.invoice.security %}
										<option style="color: green;" value="3" selected>تصديق الفاتورة وإرسال إلى قسم الماليات</option>
										{% endif %}
										{% if perms.invoice.finance %}
										<option style="color: green;" value="4" selected>تصديق الفاتورة وإرسال إلى قائد المستشفى</option>
										{% endif %}
										{% if perms.invoice.director %}
										<option style="color: green;" value="5" selected>تصديق الفاتورة وإرسال إلى الأرشيف</option>
										{% endif %}
									</select>
								</div>
								<div class="input-group mb-3">
									<div class="input-group-prepend">
										<span class="input-group-text" id="basic-addon2">أضف ملاحظة</span>
									</div>
									{{ comment_form.detail }}
								</div>
								<div class="col-6 mx-auto text-center">
									<button class="btn  btn-success w-50" type="submit">تصديق الفاتورة</button>
								</div>
								{% if comments|length > 0 %}
								<div class="card mt-5">
									<div class="card-header">
										<h5>ملاحظات مسجلة:</h5>
									</div>
									{% for comment in comments %}
									<div class="card-footer text-muted text-end pb-0">
										{{ comment.date_created }}
									</div>
									<div class="card-body text-center pt-0">
										<h5 class="card-title">{{ comment.entryPerson }}</h5>
										<p class="card-text">{{ comment.detail }}</p>
									</div>
									<hr>
									{% endfor %}
								</div>
								{% endif %}
							</div>
						</div>
					</form>
				</div>
			</div>
			{% comment %} [ Main Content ] end {% endcomment %}
		</div>
	</div>
	{% comment %} [ Main Content ] end {% endcomment %}

{% endblock content %}

{% comment %} Specific Page JS goes HERE  {% endcomment %}
{% block javascripts %}{% endblock javascripts %}
