{% extends "layouts/base-invoice.html" %}

{% block title %} نماذج التواصل {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	<!-- [ Main Content ] start -->
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			<!-- [ breadcrumb ] start -->
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">قائمة {{ contact_type }}</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">نماذج التواصل</a></li>
								<li class="breadcrumb-item"><a href="#">{{ contact_type }}</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<!-- [ breadcrumb ] end -->
			<!-- [ Main Content ] start -->
			<div class="row">
				<!-- [ sample-page ] start -->
				<div class="col-sm-12">
					<div class="card">
						<div class="card-header">
							<h5>
								قائمة 
								{{ contact_type }}
								المقدمة من خلال نماذج التواصل
							</h5>
						</div>
						<div class="card-body table-border-style">
							{% if contact_req == "all" %}
							<ul class="feed-blog ps-0">
                                {% for contact in contact_list %}
                                <li class="active-feed">
                                    <div class="feed-user-img">
                                        <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius " alt="User-Profile-Image">
                                    </div>
                                    <h6>
                                        {% if contact.msg_type == 'suggest' %}
                                        <span class="badge bg-success">مقترح</span>
                                        {% endif %}
                                        {% if contact.msg_type == 'complain' %}
                                        <span class="badge bg-danger">شكوى</span>
                                        {% endif %}
                                        من 
                                        <span class="text-c-blue">{{ contact.name }}</span>
                                        | تابع لـ
                                        <span class="text-c-blue">{{ contact.department }}</span>
                                        |
                                        <small class="text-muted">{{ contact.msg_created }}</small>
										<span class="float-end">
											<a href="s{{contact.id}}">
												{% if not contact.msg_flag %}
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
													<path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z"/>
												</svg>
												{% else %}
												<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill" viewBox="0 0 16 16">
													<path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
												</svg>
												{% endif %}
											</a>
										</span>
                                    </h6>
                                    <p class="m-b-15 m-t-15">{{ contact.msg_text }}</p>
                                </li>
                                {% endfor %}
                            </ul>
							{% elif contact_req == "filter" %}
							<h4>
								<i class="feather icon-chevrons-left" aria-hidden="true"></i> 
								<a href="{% url 'home:get-contact' slug=contact_slug req='all' %}">
									عرض كافة {{ contact_type }}
								</a>
							</h4>
							<div class="accordion accordion-flush">
								<div class="accordion-item mt-3">
									<h2 class="accordion-header" id="flush-headingOne">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
											<i class="feather icon-filter me-1" aria-hidden="true"></i>
											ترشيح حسب القسم
										</button>
									</h2>
									<div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<table class="table table-hover">
												<tbody>
													{% for department in department_list %}<tr>
														<td>
															<i class="feather icon-chevron-left" aria-hidden="true"></i>
															<a href="{{ department.id }}">
																{{ department }}
															</a>
														</td>
													</tr>{% endfor %}
												</tbody>
											</table>
										</div>
									</div>
								</div>
								<div class="accordion-item mt-3">
									<h2 class="accordion-header" id="flush-headingTwo">
										<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
											<i class="feather icon-filter me-1" aria-hidden="true"></i>
											ترشيح حسب التوقيت
										</button>
									</h2>
									<div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
										<div class="accordion-body">
											<table class="table table-hover">
												<tbody>
													<tr>
														<td>
															<i class="feather icon-chevron-left" aria-hidden="true"></i>
															<a href="d7">
																آخر 7 أيام
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<i class="feather icon-chevron-left" aria-hidden="true"></i>
															<a href="d30">
																آخر 30 يوم
															</a>
														</td>
													</tr>
													<tr>
														<td>
															<i class="feather icon-chevron-left" aria-hidden="true"></i>
															<a href="d90">
																آخر 90 يوم
															</a>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							{% else %}
							<h5><i class="feather icon-chevrons-left" aria-hidden="true"></i>  {{ contact_department }}</h5>
							<ul class="feed-blog ps-0 mt-4">
								{% if not contact_list %}
								لا يوجد عناصر
								{% else %}
                                {% for contact in contact_list %}
                                <li class="active-feed">
                                    <div class="feed-user-img">
                                        <img src="/static/assets/images/user/avatar-1.jpg" class="img-radius " alt="User-Profile-Image">
                                    </div>
                                    <h6>
                                        {% if contact.msg_type == 'suggest' %}
                                        <span class="badge bg-success">مقترح</span>
                                        {% endif %}
                                        {% if contact.msg_type == 'complain' %}
                                        <span class="badge bg-danger">شكوى</span>
                                        {% endif %}
                                        من 
                                        <span class="text-c-blue">{{ contact.name }}</span>
                                        | تابع لـ
                                        <span class="text-c-blue">{{ contact.department }}</span>
                                        |
                                        <small class="text-muted">{{ contact.msg_created }}</small>
                                    </h6>
                                    <p class="m-b-15 m-t-15">{{ contact.msg_text }}</p>
                                </li>
                                {% endfor %}
								{% endif %}
                            </ul>
							{% endif %}
                        </div>
					</div>
				</div>
				<!-- [ sample-page ] end -->
			</div>
			<!-- [ Main Content ] end -->
		</div>
	</div>
	<!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
