
	{% comment %} [ navigation menu ] start {% endcomment %}
	<nav class="pcoded-navbar menupos-fixed menu-light ">
		<div class="navbar-wrapper">
			<div class="navbar-content scroll-div ">
				<ul class="nav pcoded-inner-navbar ">
					<li class="nav-item pcoded-menu-caption">
						<label>تنقل</label>
					</li>

					{% comment %} General Section: All groups have permission to view this section! {% endcomment %}
					<li class="nav-item">
						<a href="{% url 'home:invoice' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-eye"></i></span>
							<span class="pcoded-mtext">نظرة عامة</span>
						</a>
					</li>
					{% comment %} End of General Section {% endcomment %}

					{% comment %} IT Section: IT group has permission to view this section! {% endcomment %}
					{% if perms.invoice.it %}
					<li class="nav-item pcoded-menu-caption">
						<label>إدارة بيانات المنظومة</label>
					</li>
					<li class="nav-item">
						<a href="/add-company.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span>
							<span class="pcoded-mtext">إضافة شركة</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/list-company.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">قائمة الشركات</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/add-category.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span>
							<span class="pcoded-mtext">إضافة تصنيف</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/list-category.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">قائمة التصنيفات</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/add-department.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span>
							<span class="pcoded-mtext">إضافة قسم</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/list-department.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">قائمة الأقسام</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Purchase Section {% endcomment %}

					{% comment %} Purchase Section: Purchasing Office group has permission to view this section! {% endcomment %}
					{% if perms.invoice.purchase %}
					<li class="nav-item pcoded-menu-caption">
						<label>إدخال الفواتير</label>
					</li>
					<li class="nav-item">
						<a href="{% url 'home:create-invoice' %}" class="nav-link "><span class="pcoded-micon"><i class="feather icon-plus-square"></i></span>
							<span class="pcoded-mtext">إضافة فاتورة</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/summary-invoice.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">ملخص الفواتير</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Purchase Section {% endcomment %}
					
					{% comment %} Security Section: Security group has permission to view this section! {% endcomment %}
					{% if perms.invoice.security %}
					<li class="nav-item pcoded-menu-caption">
						<label>إدارة الفواتير</label>
					</li>
					<li class="nav-item">
						<a href="/summary-invoice.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">ملخص الفواتير</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Security Section {% endcomment %}

					{% comment %} Finance Section: Finance group has permission to view this section! {% endcomment %}
					{% if perms.invoice.finance %}
					<li class="nav-item pcoded-menu-caption">
						<label>إدارة الفواتير</label>
					</li>
					<li class="nav-item">
						<a href="/summary-invoice.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">ملخص الفواتير</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Finance Section {% endcomment %}

					{% comment %} Manager Section: Managers group has permission to view this section! {% endcomment %}
					{% if perms.invoice.director %}
					<li class="nav-item pcoded-menu-caption">
						<label>إدارة الفواتير</label>
					</li>
					<li class="nav-item">
						<a href="/summary-invoice.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-list" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">ملخص الفواتير</span>
						</a>
					</li>
					
					<li class="nav-item pcoded-menu-caption">
						<label>نماذج التواصل</label>
					</li>
					<li class="nav-item">
						<a href="{% url 'home:get-contact' slug='star' req='all' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-star" style="color:darkgoldenrod"></i></span>
							<span class="pcoded-mtext">نماذج مميزة</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'home:get-contact' slug='suggest' req='filter' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-info" style="color:darkgreen"></i></span>
							<span class="pcoded-mtext">المقترحات</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="{% url 'home:get-contact' slug='complain' req='filter' %}" class="nav-link"><span class="pcoded-micon"><i class="feather icon-minus-circle" style="color:darkred"></i></span>
							<span class="pcoded-mtext">الشكاوى</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Manager Section {% endcomment %}


					{% comment %} Archive Section: Managers group has permission to view this section! {% endcomment %}
					{% if perms.invoice.director %}
					<li class="nav-item pcoded-menu-caption">
						<label>أرشيف الفواتير</label>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-layers" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">عرض كافة الفواتير</span>
						</a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-clock"></i></span>
							<span class="pcoded-mtext">عرض حسب التوقيت</span>
						</a>
						<ul class="pcoded-submenu">
							<li class="pcoded-hasmenu">
								<a href="#">آخر فترة</a>
								<ul class="pcoded-submenu">
									<li><a href="#">7 أيام</a></li>
									<li><a href="#">30 يوم</a></li>
									<li><a href="#">90 يوم</a></li>
								</ul>
							</li>
							<li class="pcoded-hasmenu">
								<a href="#">خلال مدة</a>
								<ul class="pcoded-submenu">
									<li><a href="#">الشهر الحالي</a></li>
									<li><a href="#">الشهر السابق</a></li>
									<li><a href="#">السنة الحالية</a></li>
									<li><a href="#">السنة السابقة</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-briefcase"></i></span>
							<span class="pcoded-mtext">عرض حسب الشركات</span>
						</a>
						<ul class="pcoded-submenu">
							<li class="pcoded-hasmenu">
								<a href="#">الأجهزة الطبية</a>
								<ul class="pcoded-submenu">
									<li><a href="#">شركة بايوترونيكس</a></li>
									<li><a href="#">شركة ميديكال</a></li>
									<li><a href="#">...الخ</a></li>
								</ul>
							</li>
							<li class="pcoded-hasmenu">
								<a href="#">الأشغال</a>
								<ul class="pcoded-submenu">
									<li><a href="#">شركة بيت الكهرباء</a></li>
									<li><a href="#">شركة الصناعة الحديثة</a></li>
									<li><a href="#">...الخ</a></li>
								</ul>
							</li>
						</ul>
					</li>
					{% endif %}
					{% comment %} End of Archive Section {% endcomment %}

					{% comment %} Systems Section: Managers group has permission to view this section! {% endcomment %}
					{% if perms.invoice.director %}
					<li class="nav-item pcoded-menu-caption">
						<label>شبكة نظم المعلومات</label>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-message-square" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">منظومة التواصل الإلكتروني</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-package" aria-hidden="true"></i></span>
							<span class="pcoded-mtext">منظومة الأرشيف الإلكتروني</span>
						</a>
					</li>
					{% endif %}
					{% comment %} End of Systems Section {% endcomment %}

					{% comment %} Developer Section: Developers group has permission to view this section! {% endcomment %}
					{% comment %} <li class="nav-item pcoded-menu-caption">
						<label>النماذج</label>
					</li>
					<li class="nav-item">
						<a href="/bc_typography.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-box"></i></span>
							<span class="pcoded-mtext">أساليب الكتابة</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/icon-feather.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-feather"></i></span>
							<span class="pcoded-mtext">الأيقونات</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/tbl_bootstrap.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-align-justify"></i></span>
							<span class="pcoded-mtext">جداول Bootstrap</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/chart-apex.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-pie-chart"></i></span>
							<span class="pcoded-mtext">المخططات</span>
						</a>
					</li>
					<li class="nav-item">
						<a href="/map-google.html" class="nav-link "><span class="pcoded-micon"><i class="feather icon-map"></i></span>
							<span class="pcoded-mtext">الخرائط</span>
						</a>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-lock"></i></span>
							<span class="pcoded-mtext">صفحات المصادقة</span>
						</a>
						<ul class="pcoded-submenu">
							<li><a href="/auth-signup.html" target="_blank">تسجيل جديد</a></li>
							<li><a href="/auth-signin.html" target="_blank">تسجيل دخول</a></li>
						</ul>
					</li>
					<li class="nav-item pcoded-hasmenu">
						<a href="#" class="nav-link "><span class="pcoded-micon"><i class="feather icon-menu"></i></span>
							<span class="pcoded-mtext">قوائم بمستويات</span>
						</a>
						<ul class="pcoded-submenu">
							<li><a href="#">قائمة مستوى 1</a></li>
							<li class="pcoded-hasmenu">
								<a href="#">قائمة مستوى 2</a>
								<ul class="pcoded-submenu">
									<li><a href="#">قائمة مستوى 2.1</a></li>
									<li><a href="#">قائمة مستوى 2.2</a></li>
								</ul>
							</li>
						</ul>
					</li>
					<li class="nav-item">
						<a href="/sample-page.html" class="nav-link ">
							<span class="pcoded-micon"><i class="feather icon-sidebar"></i></span>
							<span class="pcoded-mtext">صفحة نموذجية</span>
						</a>
					</li> {% endcomment %}
					{% comment %} End of Developer Section {% endcomment %}

					<li class="nav-item mt-5">
						<a href="/" class="nav-link "><span class="pcoded-micon"><i class="feather icon-home"></i></span>
							<span class="pcoded-mtext">عودة للصفحة الرئيسية</span>
						</a>
					</li>
					
				</ul>
				
				{% comment %} <div class="card text-center">
					<div class="card-body px-3">
						<i class="feather icon-sunset f-40"></i>
						<h6 class="mt-3">Upgrade to Pro</h6>
						<p>To get more features and components</p>
						<a href="https://appseed.us/product/gradient-able-pro/django/" target="_blank"
							class="btn btn-primary btn-sm text-white m-0">Buy now</a>
					</div>
				</div> {% endcomment %}
				
			</div>
		</div>
	</nav>
	{% comment %} [ navigation menu ] end {% endcomment %}
    