{% extends "layouts/base-invoice.html" %}

{% block title %} ملخص الفواتير {% endblock %} 

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

	{% comment %} [ Main Content ] start {% endcomment %}
	<div class="pcoded-main-container">
		<div class="pcoded-content">
			{% comment %} [ breadcrumb ] start {% endcomment %}
			<div class="page-header">
				<div class="page-block">
					<div class="row align-items-center">
						<div class="col-md-12">
							<div class="page-header-title">
								<h5 class="m-b-10">ملخص الفواتير</h5>
							</div>
							<ul class="breadcrumb">
								<li class="breadcrumb-item"><a href="/invoice"><i class="feather icon-home"></i></a></li>
								<li class="breadcrumb-item"><a href="#">ملخص الفواتير</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			{% comment %} [ breadcrumb ] end {% endcomment %}
			{% comment %} [ Main Content ] start {% endcomment %}
			<div class="row">
				{% comment %} [ sample-page ] start {% endcomment %}
				<div class="col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <h5>قائمة الفواتير المتاحة للتعديل/للاعتماد</h5>
                        </div>
                        <div class="card-body table-border-style">
                            <div class="table-responsive">
                                <table class="table table-hover text-center">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>الجهة المصدرة</th>
                                            <th>رقم الفاتورة</th>
                                            <th>تاريخ الفاتورة</th>
                                            <th>تصنيف الفاتورة</th>
                                            <th>موجهة للقسم</th>
                                            <th>تعديل/اعتماد</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>{{ perms.invoice.purchase }}</td>
                                            <td>{{ user }}</td>
                                            <td>15/06/2022</td>
                                            <td>فاتورة مستلزمات مكتبية</td>
                                            <td>فرع النظم</td>
                                            <td>
                                                <a href="#">
                                                    <i class="feather icon-edit" aria-hidden="true"></i>
                                                </a>/
                                                <a href="#">
                                                    <i class="feather icon-check-square" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>42</td>
                                            <td>شركة محمود علاء</td>
                                            <td>412553</td>
                                            <td>18/06/2022</td>
                                            <td>فاتورة أدوات</td>
                                            <td>قسم الأشغال</td>
                                            <td>
                                                <a href="#">
                                                    <i class="feather icon-edit" aria-hidden="true"></i>
                                                </a>/
                                                <a href="#">
                                                    <i class="feather icon-check-square" aria-hidden="true"></i>
                                                </a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
				{% comment %} [ sample-page ] end {% endcomment %}
			</div>
			{% comment %} [ Main Content ] end {% endcomment %}
		</div>
	</div>
	{% comment %} [ Main Content ] end {% endcomment %}

{% endblock content %}

{% comment %} Specific Page JS goes HERE  {% endcomment %}
{% block javascripts %}{% endblock javascripts %}
